@using Nop.Web.Framework.UI
@using Majako.Plugin.Misc.SalesForecasting.Models
@model ForecastSearchModel

@{
    ViewBag.Title = T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting").Text;
    Html.SetActiveMenuItemSystemName("Sales.SalesForecasting");
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<form asp-controller="SalesForecasting" asp-action="Forecast" method="post">
    <section class="content">
        <div class="form-horizontal">
            <div class="card-group">
                @await Html.PartialAsync("ForecastSearchPanel.cshtml", Model)
            </div>
        </div>
    </section>
</form>
