@using Nop.Web.Framework.UI
@using Nop.Web.Areas.Admin.Models.Catalog
@using Majako.Plugin.Misc.SalesForecasting.Models
@using Nop.Web.Framework.Models.DataTables
@model ForecastSearchModel

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting")
    </h1>
</div>

<form asp-controller="SalesForecasting" asp-action="Forecast" method="post">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-body">
                @await Html.PartialAsync("ProductSearch.cshtml", Model)

                <div class="panel-body row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="PeriodLength" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="PeriodLength" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-md-offset-5">
                        <button type="submit" id="forecast-submit" class="btn btn-primary">
                            @T("Majako.Plugin.Misc.SalesForecasting.Submit")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
