@using Nop.Web.Framework.UI
@using Majako.Plugin.Misc.SalesForecasting.Models
@model ForecastSearchModel

@{
    ViewBag.Title = T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting").Text;
    Html.SetActiveMenuItemSystemName("Sales.SalesForecasting");
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting")
    </h1>
</div>

<form asp-controller="SalesForecasting" asp-action="Forecast" method="post">
    <section class="content">
        @await Html.PartialAsync("ForecastSearchPanel.cshtml", Model)
    </section>
</form>
