@using Nop.Web.Framework.UI
@using Majako.Plugin.Misc.SalesForecasting.Models
@model ForecastSearchModel

@{
  ViewBag.Title = T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting").Text;
  NopHtml.SetActiveMenuItemSystemName("Sales.SalesForecasting");
  Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header clearfix">
  <h1 class="pull-left">
    @T("Majako.Plugin.Misc.SalesForecasting.SalesForecasting")
  </h1>
</div>

<div class="content">
  @await Html.PartialAsync("ForecastSearchPanel.cshtml", Model)
</div>
